[color]
	ui = true
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	a = add
	dc = diff --cached
	rec = rebase --continue
	rea = rebase --abort
[user]
	name = Frank Pan
	email = frankpzh@gmail.com
[imap]
        Folder = "[Gmail]/Drafts"
        Host = "imaps://imap.gmail.com"
        User = "frankpzh@gmail.com"
        port = 993
        sslverify = false
